.idea/
.vs/

bin/
obj/

/Build/**/*.dll
/Build/**/*.exe
/Build/**/*.json
/Build/**/*.pdb
/Build/*.debug.cfg

*.user
/Build/TestSound
/Build/Bloodmasters.cfg
/Build/Bloodmasters.log
/Source/Client/Sound/Track.cs
